{% extends "base.html" %}

{% block titlepage %}
    Docs. Apostólicos
{% endblock  %}

{% block header %}{% endblock %}

{% block container %}
	<div id="main-wrapper">
		<div id="main" class="container">
			<h2>Documentos Apostólicos</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum consequatur rerum nemo dolore similique pariatur sint, adipisci facilis harum facere expedita dicta necessitatibus aspernatur nisi quas ut iure sed? Similique.</p>

			<div style="text-align:center">
			<a href="http://w2.vatican.va/content/vatican/es.html" target="_blank" ><img src="/media/images/logo-vatican.png"></a>
			<h3 href="http://w2.vatican.va/content/vatican/es.html" target="_blank">
			Documentos Apostólicos</h3>
			</div>		
		</div>
	</div>
{% endblock %}