<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Desarrollo</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/main.css' %}">
		{% block css %}{% endblock %}
</head>
<body>
	<div class="container">
		<br>
		<h2>Diseño y desarrollo por:</h2>

		<p>
			Página web Desarrollada y Diseñanda por el grupo de estudiantes de la clase 
			Gestion de Proyectos Informaticos impartida por el Ing. Oscar Pineda.


		</p>
		<li><a img src="/media/images/ana.png" href="https://www.facebook.com/marcoantonio.nunez.95" target="_blank">Marco Nuñez</a></li>
		<li><a href="https://www.facebook.com/allanalexandercg" target="_blank">Allan Chevez</a></li>
		<li><a href="https://www.facebook.com/andres.villaloboz" target="_blank">Luis Villalobos</a></li>
		<li><a href="https://www.facebook.com/eduardo.j.mendoza.12" target="_blank">Eduardo Rodriguez</a></li>
		<li><a href="https://www.facebook.com/kevin.manzanares.311" target="_blank">Kevin Manzanarez</a></li>
		<li><a href="https://www.facebook.com/profile.php?id=100006977746226"target="_blank">Erlin Espinoza</a></li>
		
	</div>


</body>
</html>